@media screen and (max-width: 501px) {
    div.site-nav-bd, div#liveHeader, div#__live_video__, div.tb-toolkit-new {
        display: none !important;
    }

    div[class^='rightContent'] {
        width: 100vw;
        position: absolute;
        height: 99vh;
        left: 0;
    }



}